* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    background-color: rgb(54, 54, 54);
    padding: 50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.listaStudenti {
    margin: 0 auto;
}

#aggiungiStudente {
    background-color: rgb(122, 172, 99);
    width: 120px;
    height: 100px;
}
#aggiungiStudente .fas {
    font-size: 80px;
    color: white;
}